<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Donations Dashboard</h2>

    <a href="/admin/logout">Logout</a>

    <table>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
      {% for d in donations %}
      <tr>
        <td>{{ d[0] }}</td>
        <td>{{ d[1] }}</td>
        <td>{{ d[2] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
